<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/candidates.css">
    <title>candidates</title>
</head>

<body>
    <div id="header">
        <h1>Candidates</h1>
    </div>

    <nav>
        <a href="/vote.ejs">Vote</a> |
        <a href="/voters.ejs">Voters</a> |
        <a href="/home.ejs">home</a> |
        <a href="/parties.ejs">Parties</a>
    </nav>

    <div id="main">
    <div id="main_1">
        <h2>Add Candidate</h2>
        <form action="/candidates/add" method="POST">
            <label for="name">Candidate Name:</label>
            <input type="text" name="name" id="candidate"><br><br>
    
            <label for="party">Party:</label>
            <select name="party" id="party_content">
                <option value="">Select a Party</option>
                <option value="1">Party 1</option>
                <option value="2">Party 2</option>
                <option value="3">Party 3</option>
            </select><br><br>
    
            <button type="submit">Add Candidate</button>
        </form>
    </div>


        <div id="main_2">
        <h2>Edit Candidate</h2>
        <form action="/candidates/edit" method="POST">
            <label for="id">Candidate ID:</label>
            <input type="number" name="id" id="id" required><br><br>

            <label for="newName">New Name:</label>
            <input type="text" name="newName" id="newName" required><br><br>

            <label for="newParty">New Party:</label>
            <input type="text" name="newParty" id="newParty" required><br><br>

            <button type="submit">Update Candidate</button>
        </form>
        </div>
    </div>
</body>

</html>