<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>vote</title>
</head>
<body>
        <div id="header"> 
            <h1>Welcome to the Electral Voting System</h1>
        </div>
        <div class="wrapper">
            <nav> 
            <a href="/people">people</a>
            <a href="/register">Register</a>
            <a href="/vote">Vote</a> |
            <a href="/voters">Voters</a> |
            <a href="/candidates">Candidates</a> |
            <a href="/parties">Parties</a>
            <a href="/results">Results</a>
            <a href="/statistics">Statistics</a>
        </nav>
        <main>
                <h2>A fully dynamic online voting system</h2>
                <p>This is an object-based online voting system. Begin by registering using the register link above.</p>
                
                <div class="info-section">
                    <img src="/image/vote.jpeg" alt="Voting" class="main-image">
                    <div class="info-text">
                        <h3>Why Should I Vote?</h3>
                        <p>Make your voice heard — Every Vote Counts!</p>
                
                        <h3>The Importance of Voting</h3>
                        <p>Voting is one of the most important rights and responsibilities that you have. About 150 million Nigerian
                            citizens are qualified to vote. Unfortunately, many don’t. They give up on a chance to choose leaders and
                            representatives who will do things that are important to them.</p>
                    </div>
                </div>
                
                <a href="/register" class="btn">Register Now</a>
                </div>
        </main>
        </div>
        
        
</body>
</html>