<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>vote</title>
</head>
<body>
        <div id="header"> 
            <h1>Welcome to the Electral Voting System</h1>
        </div>
        <div class="wrapper">
            <nav>
            <a href="/vote">Vote</a> |
            <a href="/voters">Voters</a> |
            <a href="/candidates">Candidates</a> |
            <a href="/parties">Parties</a>
        </nav>
        <main>
            <h2>Explore the different sections of the Electral Voting System</h2>
            <p>use the side bar to navigate</p>
        </main>
        </div>
        
        
</body>
</html>