<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>vote</title>
</head>
<body>
        <div id="header"> 
            <h1>Welcome to the Electral Voting System</h1>
        </div>
        <div class="wrapper">
            <nav> 
            <a href="/people">people</a>
            <a href="/vote/register">Register</a>
            <a href="/vote">Vote</a> |
            <a href="/voters">Voters</a> |
            <a href="/candidates">Candidates</a> |
            <a href="/parties">Parties</a>
            <a href="/results">Results</a>
            <a href="/statistics">Statistics</a>
        </nav>
        <main>
        </main>
        </div>
        
        
</body>
</html>