<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Candidates</title>
    <link rel="stylesheet" href="/css/view_candidates.css">
</head>
<body>
    <h2>All Candidates</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Party</th>
        </tr>
        <% candidates.forEach(c=> { %>
            <tr>
                <td>
                    <%= c.CandidateID %>
                </td>
                <td>
                    <%= c.Name %>
                </td>
                <td>
                    <%= c.PartyID %>
                </td>
            </tr>
            <% }) %>
    </table>

</body>
</html>