<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vote Submitted</title>
    <link rel="stylesheet" href="/css/404.css">
</head>
<body>
    <div id="header">
        <h1>Vote Submitted Successfully!</h1>
    </div>
    <div id="main">
        <p><%= message %></p>
        <div class="back">
            <a href="/vote">Back to Voting</a>
        </div>
    </div>
</body>
</html>